.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 100%;
    background-color:transparent;
}
.image-card{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 500px;
}
.name-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
}
ul{
    list-style-type: none;
}
.avatar-name{
    font-size: 20px;
    font-weight: 600;
}
.bio{
    font-size: 20px;
}
.detail{
    font-size: 20px;
    font-family: "Roboto";
    text-align: left;
    padding-left: 80px;
}
.details-card{
    padding-left: 40px;
    text-align: center;
}

.avatar-image{
    height: 80px;
    width: 80px;
    border-radius: 50px;
}
.youtube-image{
    height: 200px;
    width: 300px;
    background-color: transparent;
    
}
.like-delete-card{
   display: flex;
   justify-content: space-between;
   margin: 20px;
   width: 500px;
   
}
.click-icon{
    height: 30px;
    width: 30px;
}
.pop-up-button{
    background-color: transparent;
    
}
.anchor-link{
    text-align: center;
}
.click-button{
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
}
.color{
background-color: blue;
}
.modal {
    display: none; 
    position: absolute; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 600px; 
    }

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.pop-up-button{
    background-color: none;
    border: none;
}